*{
    border: none;
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: sans-serif;
}
h2{
    text-shadow: 01px 01px 5px rgba($color: #000, $alpha: 0.9);
    color: rgb(255, 144, 40);
    font-size: 0.8rem;
    margin: 1rem;
    text-transform: uppercase;
    margin-bottom: 0%;
}
p{
    text-shadow: 01px 01px 5px rgba($color: #000, $alpha: 0.9);
    font-size: 3rem;
    margin: 0%;
}

body{
    background: url(../img/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.timezones{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__zone{
        margin: auto 3rem;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}
.clock{
    height: 10rem;
    width: 10rem;
    background: rgba($color: #000000, $alpha: 0.1);
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.2);
    border: 10px solid white;
    border-radius: 50%;
    padding: 2rem;
    &__face{
        position: relative;
        height: 100%;
        width: 100%;
        transform: translateY(-3px);
    }
    &__pointer{
        border-radius: 20px;
        transform: rotate(90deg);
        transform-origin: 100%;
        transition: all 0.05s;
        animation-timing-function: cubic-bezier(0.26, 3.23, 0.58, 1);
        position: absolute;
        background: white;
        width: 50%;
        top: 50%;
    }
}
#secPT, #secNY, #secLON{
    opacity: 0.6;
    height: 2px;
}
#minPT, #minNY, #minLON{
    opacity: 0.8;
    height: 3px;
}
#hourPT, #hourNY, #hourLON{
    height: 4px;
}

@media screen and (max-width: 1024px){
    .timezones{
        flex-wrap: wrap;
        &__zone{
            margin: 2%;
        }
    }
    .clock{
        width: 10vh;
        height: 10vh;
    }
    p{
        font-size: 2rem;

    }
}

@media screen and (max-width: 545px){
    .timezones{
        flex-direction: column;
    }
    .clock{
        width: 10vh;
        height: 10vh;
    }
    p{
        font-size: 2.1rem;

    }
}